<app-header></app-header>
<div class="global-content">
      <div *ngIf = "verticalHeader" 
     class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-xs-2" style="margin-left:20px;">
  <app-vertical-header (searchTextEvent)="searchTextEventHandler($event)"></app-vertical-header>
</div>
<div class="content-wrapper"
      [ngClass]="{'col-xl-10 col-lg-10 col-md-10 col-sm-10 col-xs-10' : verticalHeader,
      'col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12' : !verticalHeader
      }">
<router-outlet ></router-outlet>
</div>
</div>
