<div class="container">
    <div class="main-box">
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <h1>Team <span class="yellow-part">up</span></h1>
            <h2 class="subtitle">Rejoins le projet qui fera décoller ta carrière !</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tincidunt varius facilisis. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae. Aliquam et urna arcu. Integer gravida eros ac erat tincidunt.</p>
            <form>
                <input type="text" placeholder="&#xf002;" >
                <button>Trouver un projet</button>
            </form>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <img src="/assets/homepage_teamup.png" alt="illustration application" id="illustration_hp">
        </div>
    </div>
</div>